services:
  jenkins:
    image: kcandidate/jenkins-casc:2025.03.24.2243-de8b530
    container_name: jenkins
    ports:
      - 443:8443
    volumes:
      - /mnt/nfs/jenkins_nfs/:/var/jenkins_home/
    restart: always
    environment:
      - JENKINS_OPTS=--httpPort=-1 --httpsPort=8443 --httpsKeyStore=/var/jenkins_home/keystore.p12 --httpsKeyStorePassword={{ p12_password }}